<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Message Matrix</title>
  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="static/style.css">
</head>

<body>

  <div class="col-xs-12 col-md-8 col-lg-6 mx-auto">
    <h1>Message Matrix</h1>
    <p>Welcome to my message matrix! Send me a message in the field below.</p>
    <textarea id="message" maxlength="140" class="form-control"></textarea>
    <div class="col-xs-12">
      <br>
      <button id="submitbutton" class="btn btn-primary" onclick="sendmessage()">Submit</button>
    </div>
    <br>
    <h2>Recent Messages</h2>
    <p>Here are what people have been saying recently!</p>
    <div class="row">
      <div class="card">
        <div class="card-block">
          <p id="message1" class="card-text">{{ message1 }}</p>
          <h6 class="card-subtitle mb-2 text-muted" style="margin:0px">{{ message1timestamp }}</h6>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <p id="message2" class="card-text">{{ message2 }}</p>
          <h6 class="card-subtitle mb-2 text-muted" style="margin:0px">{{ message2timestamp }}</h6>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <p id="message3" class="card-text">{{ message3 }}</p>
          <h6 class="card-subtitle mb-2 text-muted" style="margin:0px">{{ message3timestamp }}</h6>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <p id="message4" class="card-text">{{ message4 }}</p>
          <h6 class="card-subtitle mb-2 text-muted" style="margin:0px">{{ message4timestamp }}</h6>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <p id="message5" class="card-text">{{ message5 }}</p>
          <h6 class="card-subtitle mb-2 text-muted" style="margin:0px">{{ message5timestamp }}</h6>
        </div>
      </div>
    </div>
    <br>
    <h2>What is this?</h2>
    <p>The message matrix is an internet connected display YOU can send messages too. Submit a message and it will be displayed in my home. Yes <i>really</i>.</p>
    <video width="100%" height="100%" loop autoplay>
      <source src="static/video.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <p>If you're interested in building your own please see the writeup on GitHub.</p><a href="https://github.com/JosephSamela/messagematrix">link</a>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script>
  function sendmessage(){
    var message = document.getElementById('message').value
    post = 'message='+message
    url = "/post"
    var xhr = new XMLHttpRequest();
    xhr.open('POST', url, true);
    xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded; charset=UTF-8");
    xhr.send(post);
    console.log(post)
    document.getElementById('message').value = "Message Sent!";
    document.getElementById('message').disabled = true;
    document.getElementById('submitbutton').disabled = true;
  }
</script>

</html>
